<div class="col-12">
  <form class="site-form">

    {{!-- Выбор города --}}
    <label class="form-label" for="city">Из какого ты города?</label>
    <div class="input-group mb-3">
      <select class="custom-select" id="city">
        <option value="Абакан">Абакан</option>
        <option value="Ачинск">Ачинск</option>
        <option value="Железногорск">Железногорск</option>
        <option value="Минусинск">Минусинск</option>
        <option value="Канск">Канск</option>
        <option value="Красноярск" selected >Красноярск</option>
        <option value="Новосибирск">Новосибирск</option>
      </select>
    </div>

    {{!-- Имя --}}
    <label class="form-label" for="name">Имя</label>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Имя" aria-label="Имя" aria-describedby="basic-addon2">
    </div>

    {{!-- Фамилия --}}
    <label class="form-label" for="surname">Фамилия</label>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Фамилия" aria-label="Фамилия" aria-describedby="basic-addon2">
    </div>

    {{!-- Пол --}}
    <label class="form-label" for="gender">Пол</label>
    <div class="input-group mb-3">
      <select class="custom-select" id="sex">
        <option value="Мужчина" selected>Мужчина</option>
        <option value="Женщина">Женщина</option>
      </select>
    </div>

    {{!-- Телефон --}}
    <label class="form-label" for="phone">Телефон</label>
    <div class="input-group mb-3">
       <input type="tel" name="phone" id="phone" class="form-control bfh-phone" data-format="+7 (ddd) ddd-dddd" value="" pattern="(\+[\d\ \(\)\-]{16})" />
    </div>

    {{!-- email --}}
    <label class="form-label" for="InputEmail">e-mail</label>
    <div class="input-group mb-4">
      <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Введи ваш e-mail">
    </div>

    {{!-- Пользовательское соглашение --}}
    <div class="input-group mb-4">
      <div class="checkbox-block">
        <input class="form-checkbox" type="checkbox" aria-label="Checkbox for accepting policy">
        <label class="checkbox-label">Я принимаю пользовательское соглашение и даю согласие на обработку личных данных</label>
      </div>
    </div>

    {{!-- Получение информации --}}
    <div class="input-group mb-5">
      <div class="checkbox-block">
        <input class="form-checkbox" type="checkbox" aria-label="Checkbox for accepting policy">
        <label class="checkbox-label">Я даю согласие на получение информации об акциях и скидках Green House</label>
      </div>
    </div>

    {{!-- Кнопка отправки формы --}}
    <div class="w-100 button__block-submit mb-5">
      <button type="button" class="btn btn-success button-bonus m-left">Вжух!</button>
    </div>

  </form>

</div>