<div class="col-12">
  <h1 class="bon-title"> <span class="bon-title__span">Green House</span> <br> возвращает 10% от заказа!</h1>
</div>
<div class="col-12 col-lg-6 bonus-about">
  <h4 class="about-register__h4 mb-4 mt-4">
    Зарегистрируйся в нашей бонусной системе в два клика.
  </h4>
  <h5 class="about-register__h5 mb-5">
    Переходи по ссылке на наш Telegram-Бот, и отслеживай свой бонусный счет
  </h5>
  <div class="block__buttons">
    <button type="button" class="btn btn-success button-bonus">LET'S GO!</button>
    <div class="w-100 mb-4"></div>
    <button type="button" class="btn btn-success button-bonus button-white">Нет телеграмма</button>
  </div>
  
</div>
<div class="col-12 col-lg-6">
  {{!-- <div class="full"> --}}
    <img class="img-resp" src="/images/phone.png"></img>
  {{!-- </div> --}}
  
</div>