<footer class="footer" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="footer-title">Наши контакты</h3>
        <div class="footer-aftertitle">Мы всегда открыты для ваших идей и предложений</div>
      </div>
      <div class="col-12">
        <div class="footer__desc">
          <div class="desc__block"><div class="desc__block__elem1">Поставщикам</div><div class="footer__desc-span"><a class="footer__link" href="mailto:offer@grnhs.ru">offer@grnhs.ru</a></div></div>
          <div class="desc__block"><div class="desc__block__elem1">Арендодателям</div><div class="footer__desc-span"><a class="footer__link" href="mailto:rental@grnhs.ru">rental@grnhs.ru</a></div></div>
          <div class="desc__block"><div class="desc__block__elem1">Say Hello</div><div class="footer__desc-span"><a class="footer__link" href="mailto:hello@grnhs.ru">hello@grnhs.ru</a></div></div>
          <div class="desc__block"><div class="desc__block__elem1">По франшизе</div><div class="footer__desc-span"><a class="footer__link" href="mailto:franch@grnhs.ru">franch@grnhs.ru</a></div></div>
        </div>
      </div>
      <div class="col-12">
        <div class="footer__ps">
          <div class="ps__elem1">ООО Грин Хаус Кофе</div>
          <div class="ps__elem1">© 2012 - 2020</div>
        </div>
      </div>
    </div>
  </div>
</footer>