<header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-dark ">
   <a class="navbar-brand" href="#">
    <img src="/images/photo.png" width="54" height="54" alt="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav  mt-2 mt-lg-0 ul-center">
      <li class="nav-item " id="menu-btn">
        <a class="nav-link"  >меню </span></a>
      </li>
      <li class="nav-item" id="sorts-btn">
        <a class="nav-link"  >моносорта</a>
      </li>
      <li class="nav-item" id="maps-btn">
        <a class="nav-link"  >кофейни</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bonus">бонусы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/work">работа</a>
      </li>
      <li class="nav-item" id="footer-btn">
        <a class="nav-link"  >контакты</a>
      </li>
    </ul>
    <ul class="navbar-nav ul-center ">
      <li class="nav-item"><a class="nav-link link-roundback"><i class="fab fa-vk"></i></a></li>
      <li class="nav-item"><a class="nav-link link-roundback"><i class="fab fa-instagram"></i></a></li>
      <li class="nav-item nav-item__pl"><button type="button" class="btn btn-success">Франшиза</button></li>
    </ul>
  </div>
  </nav>
</header>
