<div class="col mb-4">
  <div class="card card-borders card-sorts">
    <div class="card-img__back" style="background-image: url('images/cof1.png');" ></div>
    <div class="card-body">
        <h5 class="card-title">Espresso Blend №1</h5>
        <h6 class="card-title__small">Темный шоколад, миндаль, чернослив</h6>
    </div>
    <div class="card-footer">
      <div class="card-footer__desc">
        <p class="footer-p">Регион: Гватемала Ориентэ</p>
        <p class="footer-p">Вид: Арабика</p>
        <p class="footer-p">Способ обработки: Мытый</p>
        <p class="footer-p">Высота произростания: 1500-1700м</p>
        <p class="footer-p">250г</p>
      </div>
    </div>
  </div>
</div>

<div class="col mb-4">
  <div class="card card-borders card-sorts">
    <div class="card-img__back" style="background-image: url('images/cof2.png');" ></div>
    <div class="card-body">
        <h5 class="card-title">Эфиопия Сидамо</h5>
        <h6 class="card-title__small">Какао, молочный шоколад, сухофрукты</h6>
    </div>
    <div class="card-footer">
      <div class="card-footer__desc">
        <p class="footer-p">Регион: Антьокия</p>
        <p class="footer-p">Вид: Арабика</p>
        <p class="footer-p">Способ обработки: Мытый</p>
        <p class="footer-p">Высота произростания: 1000-1900м</p>
        <p class="footer-p">250г</p>
      </div>
    </div>
  </div>
</div>

<div class="col mb-4">
  <div class="card card-borders card-sorts">
    <div class="card-img__back" style="background-image: url('images/cof3.png');" ></div>
    <div class="card-body">
        <h5 class="card-title">Гватемала Катурра</h5>
        <h6 class="card-title__small">Черный чай, красный апельсин, шоколад и карамель</h6>
    </div>
    <div class="card-footer">
      <div class="card-footer__desc">
        <p class="footer-p">Регион: Уэуэтенанго</p>
        <p class="footer-p">Вид: Арабика</p>
        <p class="footer-p">Способ обработки: Мытый</p>
        <p class="footer-p">Высота произростания: 1400-1800м</p>
        <p class="footer-p">250г</p>
      </div>
    </div>
  </div>
</div>

<div class="col mb-4">
  <div class="card card-borders card-sorts">
    <div class="card-img__back" style="background-image: url('images/cof4.png');" ></div>
    <div class="card-body">
        <h5 class="card-title">Колумбия Супремо Антьокия</h5>
        <h6 class="card-title__small">Барбарис, молочный шоколад, персик</h6>
    </div>
    <div class="card-footer">
      <div class="card-footer__desc">
        <p class="footer-p">Регион: Антьокия</p>
        <p class="footer-p">Вид: Арабика</p>
        <p class="footer-p">Способ обработки: Мытый</p>
        <p class="footer-p">Высота произростания: 1350-2000м</p>
        <p class="footer-p">250г</p>
      </div>
    </div>
  </div>
</div>

<div class="col mb-4">
  <div class="card card-borders card-sorts">
    <div class="card-img__back" style="background-image: url('images/cof5.png');" ></div>
    <div class="card-body">
        <h5 class="card-title">Бразилия</h5>
        <h6 class="card-title__small">Черный шоколад, карамель, орех</h6>
    </div>
    <div class="card-footer">
      <div class="card-footer__desc">
        <p class="footer-p">Регион: Альта-Моджиана</p>
        <p class="footer-p">Вид: Арабика</p>
        <p class="footer-p">Способ обработки: Натуральный</p>
        <p class="footer-p">Высота произростания: 1000м</p>
        <p class="footer-p">250г</p>
      </div>
    </div>
  </div>
</div>

{{!-- <div class="card-deck">
  <div class="card card-borders card-sorts">
    <div class="card-img__back" style="background-image: url('images/cof3.png');" ></div>
    <div class="card-body">
        <h5 class="card-title">Гватемала Катурра</h5>
        <h6 class="card-title__small">Черный чай, красный апельсин, шоколад и карамель</h6>
    </div>
    <div class="card-footer">
      <div class="card-footer__desc">
        <p class="footer-p">Регион: Уэуэтенанго</p>
        <p class="footer-p">Вид: Арабика</p>
        <p class="footer-p">Способ обработки: Мытый</p>
        <p class="footer-p">Высота произростания: 1400-1800м</p>
        <p class="footer-p">250г</p>
      </div>
    </div>
  </div>

  <div class="card card-borders card-sorts">
    <div class="card-img__back" style="background-image: url('images/cof5.png');" ></div>
    <div class="card-body">
        <h5 class="card-title">Бразилия</h5>
        <h6 class="card-title__small">Черный шоколад, карамель, орех</h6>
    </div>
    <div class="card-footer">
      <div class="card-footer__desc">
        <p class="footer-p">Регион: Альта-Моджиана</p>
        <p class="footer-p">Вид: Арабика</p>
        <p class="footer-p">Способ обработки: Натуральный</p>
        <p class="footer-p">Высота произростания: 1000м</p>
        <p class="footer-p">250г</p>
      </div>
    </div>
  </div>

  <div class="card card-borders card-sorts">
    <div class="card-img__back" style="background-image: url('images/cof5.png');" ></div>
    <div class="card-body">
        <h5 class="card-title">Бразилия</h5>
        <h6 class="card-title__small">Черный шоколад, карамель, орех</h6>
    </div>
    <div class="card-footer">
      <div class="card-footer__desc">
        <p class="footer-p">Регион: Альта-Моджиана</p>
        <p class="footer-p">Вид: Арабика</p>
        <p class="footer-p">Способ обработки: Натуральный</p>
        <p class="footer-p">Высота произростания: 1000м</p>
        <p class="footer-p">250г</p>
      </div>
    </div>
  </div>

  <div class="card card-borders card-sorts">
    <div class="card-img__back" style="background-image: url('images/cof4.png');" ></div>
    <div class="card-body">
        <h5 class="card-title">Колумбия Супремо Антьокия</h5>
        <h6 class="card-title__small">Барбарис, молочный шоколад, персик</h6>
    </div>
    <div class="card-footer">
      <div class="card-footer__desc">
        <p class="footer-p">Регион: Антьокия</p>
        <p class="footer-p">Вид: Арабика</p>
        <p class="footer-p">Способ обработки: Мытый</p>
        <p class="footer-p">Высота произростания: 1350-2000м</p>
        <p class="footer-p">250г</p>
      </div>
    </div>
  </div> --}}