<div class="menu-block">
  <div class="menu-block__title">350мл / 450мл</div>
  <hr class="tab-hr">
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">КАПУЧИНО СОЛЕНАЯ КАРАМЕЛЬ</div>
    <div class="menu-block__right">149₽ / 179₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">352 / 486 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">АРАХИСОВЫЙ ЛАТТЕ</div>
    <div class="menu-block__right">139₽ / 169₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">349 / 460 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">КЕДРОВЫЙ РАФ</div>
    <div class="menu-block__right">189₽ / 209₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">238 / 273 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">ЦИТРУСОВЫЙ РАФ</div>
    <div class="menu-block__right">139₽ / 179₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">199 / 258 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">МОККО ШОКОЛАД</div>
    <div class="menu-block__right">169₽ / 189₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">222 / 299 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">МОККО ОРЕХ</div>
    <div class="menu-block__right">149₽ / 189₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">210 / 251 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">МОККО СОЛЕНАЯ КАРАМЕЛЬ</div>
    <div class="menu-block__right">159₽ / 189₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">312 / 382 ккал</div>
</div>