<div class="menu-block">
  <div class="menu-block__title">350мл / 450мл</div>
  <hr class="tab-hr">
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">КАПУЧИНО </div>
    <div class="menu-block__right">129₽ / 179₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">153 / 188 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">ЛАТТЕ макиато</div>
    <div class="menu-block__right">119₽ / 149₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">153 / 188 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">американо</div>
    <div class="menu-block__right">119₽ / 139₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">6 / 11 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">Флэт уайт</div>
    <div class="menu-block__right">119₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">92 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">эспрессо</div>
    <div class="menu-block__right">99₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">3 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">двойной эспрсессо</div>
    <div class="menu-block__right">99₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">6 ккал</div>
</div>

