<div class="menu-block">
  <div class="menu-block__title">350мл / 450мл</div>
  <hr class="tab-hr">
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">КАкао шоколад</div>
    <div class="menu-block__right">119₽ / 129₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">228 / 273 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">какао арахис</div>
    <div class="menu-block__right">139₽ / 169₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">364 / 389 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">Какао соленая карамель</div>
    <div class="menu-block__right">129₽ / 159₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">298 / 378 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">какао апельсин</div>
    <div class="menu-block__right">139₽ / 169₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">254 / 319 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">Маття латте</div>
    <div class="menu-block__right">179₽ / 219₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">138 / 201 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">чай</div>
    <div class="menu-block__right">99₽ / 109₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">
    <ul class="menu-block__list">
      <li>Великий цейлон</li>
      <li>Эрл Чарльз Грей</li>
      <li>Ароматный Жасмин</li>
      <li>Цветочный ройбуш</li>
      <li>Земляничная поляна</li>
      <li>Молочный улун</li>
    </ul>
  </div>
</div>

