<div class="menu-block">
  <div class="menu-block__title">350мл / 450мл</div>
  <hr class="tab-hr">
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">АЙС КРИМ ЛАТТЕ ВАНИЛЬНЫЙ</div>
    <div class="menu-block__right">139₽ / 179₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">394 / 533 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">АЙС КРИМ ЛАТТЕ АРАХИС</div>
    <div class="menu-block__right">179₽ / 189₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">463 / 699 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">АЙС КРИМ ЛАТТЕ СОЛЕНАЯ КАРАМЕЛЬ</div>
    <div class="menu-block__right">159₽ / 179₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">463 / 563 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">АЙС КРИМ ЛАТТЕ МАТТЯ</div>
    <div class="menu-block__right">159₽ / 209₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">411 / 551 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">МИЛКШЕЙК ВАНИЛЬ</div>
    <div class="menu-block__right">129₽ / 149₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">388 / 527 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">МИЛКШЕЙК ШОКОЛАД</div>
    <div class="menu-block__right">129₽ / 179₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">449 / 598 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">МИЛКШЕЙК АРАХИС</div>
    <div class="menu-block__right">149₽ / 169₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">555 / 694 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">МИЛКШЕЙК СОЛЕНАЯ КАРАМЕЛЬ</div>
    <div class="menu-block__right">139₽ / 159₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">508 / 648 ккал</div>
</div>