<div class="menu-block">
  <div class="menu-block__title">350мл / 450мл</div>
  <hr class="tab-hr">
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">АЙС ТИ ОБЛЕПИХОВЫЙ</div>
    <div class="menu-block__right">119₽ / 139₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">96 / 118 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">АЙС МАТТЯ C КИВИ</div>
    <div class="menu-block__right">129₽ / 159₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">81 / 105 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">ЛИМОНАД ЯГОДНЫЙ</div>
    <div class="menu-block__right">149₽ / 169₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">130 / 156 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">ЛИМОНАД КЛЕНОВЫЙ</div>
    <div class="menu-block__right">129₽ / 149₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">136 / 162 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">АЙС ЛАТТЕ ВАНИЛЬ</div>
    <div class="menu-block__right">119₽ / 149₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">116 / 146 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">АЙС ЛАТТЕ ВАНИЛЬ</div>
    <div class="menu-block__right">159₽ / 179₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">84 / 108 ккал</div>
</div>

