<div class="menu-block">
  <div class="menu-block__title"></div>
  <hr class="tab-hr">
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">СОЕВОЕ МОЛОКО</div>
    <div class="menu-block__right">39₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">30 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">КОКОСОВОЕ МОЛОКО</div>
    <div class="menu-block__right">49₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">35 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">МИНДАЛЬНОЕ МОЛОКО</div>
    <div class="menu-block__right">49₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">55 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">ОРЕХОВОЕ МОЛОКО (ФУНДУК)</div>
    <div class="menu-block__right">49₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">60 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">ШОКОЛАДНАЯ КРОШКА</div>
    <div class="menu-block__right">9₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">11 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">ДОПОЛНИТЕЛЬНЫЙ ЭСПРЕССО</div>
    <div class="menu-block__right">19₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">3 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">МАРШМЕЛЛОУ</div>
    <div class="menu-block__right">19₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">31 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">Мороженое</div>
    <div class="menu-block__right">29₽</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">100 ккал</div>
</div>

<div class="menu-block">
  <div class="menu-block__1">
    <div class="menu-block__left">сироп</div>
    <div class="menu-block__right">БЕСПЛАТНО</div>
  </div>
  <hr class="tab-hr">
  <div class="menu-block__2">22 ккал</div>
</div>