<div class="col-12">
  <h1 class="bon-title">Добро пожаловать в команду <span class="bon-title__span">Green House</span></h1>
</div>
<div class="col-12">
  <h5 class="about-register__h5 mb-5">Привет! Если ты открыт и любишь общаться с новыми людьми, а жизнерадостность - твое второе имя, если ты ищешь не просто место работы, а новых друзей - тебе к нам!</h5>
  <h5 class="about-register__h5 mb-5">Мы рассматриваем все входящие заявки, опыт для нас не важен, гораздо важнее настрой, желание работать и учиться новому. Заполняй анкету - если это про тебя!</h5>
</div>