@charset "UTF-8";

.site-header {
  background-color: #333333;
}

.navbar {
  margin: auto;
  max-width: 1200px;
}

.navbar-collapse {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
}

.link-green {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  color: white !important;
  background-color: #05a535;
}

.site-header .btn {
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
}

.site-header .nav-item:hover {
  cursor: pointer;
}

.sld {
  width: 100%;
  height: 91vh;
}

.sld1 {
  height: 90vh;
  width: 100%;
  background-image: url("/images/back-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sld2 {
  height: 90vh;
  width: 100%;
  background-image: url("/images/back-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  height: inherit;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: inherit;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */

/* Icons */

/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  display: none !important;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.menu {
  padding-top: 100px;
  background-color: #333333;
}

.menu-title {
  margin-bottom: 60px;
  text-align: center;
  color: white;
  font-size: 54px;
}

.menu-title__2 {
  margin-top: 200px;
  margin-bottom: 60px;
  text-align: center;
  color: white;
  font-size: 62px;
}

.menu .nav-pills .nav-link.active {
  color: #333333;
  background-color: white;
}

.menu a {
  color: white;
}

.menu .tab-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tab-pane {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.menu .nav-pills {
  margin-bottom: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-block {
  margin-bottom: 30px;
  color: white;
}

.menu-block__title {
  text-align: right;
  font-size: 20px;
  font-weight: 500;
}

.menu-block__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  font-weight: 600;
}

.menu-block__2 {
  font-size: 12px;
}

.tab-hr {
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: white;
}

.menu-block__list {
  padding-left: 15px;
}

.card-img__back {
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-borders {
  border: 1px transparent;
}

.card-sorts .card-body,
.card-sorts .card-footer {
  background-color: #333333;
}

.card-sorts .card-title {
  font-size: 24px;
  color: white;
}

.card-sorts .card-title__small {
  font-size: 20px;
  color: white;
  font-weight: 400;
  font-family: 'Ubuntu', sans-serif;
}

.card-sorts .card-footer {
  border-top: 1px transparent;
}

.card-sorts .footer-p {
  margin: 0px;
  font-size: 14px;
  color: #aaaaaa;
}

.card-sorts .footer-p:nth-last-child(1) {
  color: white;
}

.sorcar {
  padding-bottom: 100px;
}

.sorcar .col:focus {
  outline: 1px solid transparent;
}

.maps {
  height: 50vh;
}

.footer {
  padding-top: 80px;
  background-color: #333333;
  color: white;
}

.footer-title {
  color: white;
  text-align: center;
}

.footer-aftertitle {
  margin-top: 60px;
  font-size: 20px;
  text-align: center;
}

.footer__desc {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.desc__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.footer__desc-span {
  width: 100%;
}

.desc__block__elem1 {
  font-size: 18px;
}

.footer__link {
  font-size: 18px;
  opacity: .7;
  color: white;
}

.footer__link:hover {
  color: white;
}

.footer__ps {
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 18px;
  opacity: .7;
  font-weight: 500;
  text-align: center;
}

.ul-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-resp {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 991px) {
  .footer__desc {
    margin-top: 120px;
  }
}

@media screen and (min-width: 992px) {
  .navbar-collapse {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .nav-item__pl {
    padding-left: 20px;
  }

  .menu-title {
    margin-bottom: 100px;
  }

  .menu-title__2 {
    margin-top: 400px;
    margin-bottom: 100px;
  }

  .tab-content {
    margin: auto;
    max-width: 600px;
  }

  .menu .nav-pills {
    margin-bottom: 120px;
  }

  .menu .nav-item .nav-link {
    padding-top: 14px;
    padding-bottom: 14px;
    color: white;
    background-color: #333333;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-radius: 0px;
  }

  .menu .nav-item:nth-child(1) .nav-link {
    border-left: 1px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
  }

  .menu .nav-item:nth-child(6) .nav-link {
    border-right: 1px solid #FFFFFF;
    border-radius: 0px 20px 20px 0px;
  }
}

@media screen and (max-width: 992px) {
  .sld1 {
    background-image: url("/images/back-1min.png");
  }

  .sld2 {
    background-image: url("/images/back-2min.jpg");
  }
}

@media screen and (max-width: 991px) {
  .menu .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
  }

  .desc__block {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .desc__block {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 620px) {
  .row-cols-1 > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
  }

  .row-cols-1 .col {
    margin: auto;
  }
}

@media screen and (max-width: 450px) {
  .menu-title__2 {
    font-size: 56px;
  }

  .card-img__back {
    height: 390px;
  }
}

@media screen and (max-width: 400px) {
  .menu-block__1 {
    font-size: 12px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .menu .nav-item {
    font-size: 14px;
  }
}